body{
  background: #E6F5F3;
}
/*Estilos del header*/
header{
  background: #1F2232;
  width: 100%;
  position: fixed;
  color: #C7EAE4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 2rem;
  margin: 1rem;
  
}
h2{
  position: fixed;
  font-size: 1.8rem;
  left: 4rem;
  font-weight: 500;

}
header nav{
  display: flex;
  right: 2rem;
}
 header a{
  color: #C7EAE4;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
 }
 /*pseudo clase para los enlaces del header*/
 header a:hover{
  color: #64C9B8;
  font-size: 1.8rem;
 }
 /*estilos del section*/
 section{
 
margin: auto;
 }
 h3{
  font-size: 1.8rem;
  font-weight: 500;
 }

 /*estilo para la seccion de compras y ventas en texto, imagen, parrafos y botones*/
.container {
  display: flex;
  flex-direction: row-reverse;
}

.compras, .ventas {
  width: 80%;
  padding: 3rem;
  border-radius: 10px;
}

.compras-container, .ventas-container{
  list-style-type: none;
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 2rem 0;
}

.img-producto {
  width: 100%;
  height: auto;
  padding: 10px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

 p {
  font-size: 16px;
  color: #666;
  padding: 10px;
}

 button {
  font-size: 16px;
  background-color: #949494;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  right: 3rem;
  margin: 0;
}

 button:hover {
  background-color: #0069d9;
}

 button:active {
  background-color: #0069d9;
  color: #fff;
}

@media (max-width: 768px) {

  header{
    justify-content: flex-end;
    position: relative;
  }

  header a{
      padding: 10px 20px;
      font-size: 1.5vh;
  }

  header img{
    position: absolute;
    top: 0; 
    left: 0;
  }

  header h2 h3{
    float: right; /* Posiciona el elemento a la derecha */

  }
  

}

