body{
  background: #E6F5F3;
}
/*Estilos del header*/
header{
  background: #1F2232;
  width: 100%;
   
  color: #C7EAE4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 2rem;
  margin: 1rem;
  
}
h2{
  position: fixed;
  font-size: 1.8rem;
  left: 4rem;
  font-weight: 500;

}
header nav{
  display: flex;
  right: 2rem;
}
 header a{
  color: #C7EAE4;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
 }
 /*pseudo clase para los enlaces del header*/
 header a:hover{
  color: #64C9B8;
  font-size: 1.8rem;
 }
 /*estilos del section*/
 section{
  width: 60%;
  margin: auto;
 }
 h3{
  font-size: 1.8rem;
  font-weight: 500;
 }